/* || Tela ajustes */
.ajustes{
    background-color: var(--color-03);
    width: 80rem;
    height: fit-content;
    margin: 0 auto;
    border-radius: var(--border-radius);
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
}
h2{
    align-self: center;
    text-align: center;
    font-size: x-large;
    color: var(--color-01)
}
.ajustes div{
    width: 100%;
    text-align: center;
}
.dominio{
    margin-top: 1rem;
}
.ajustes div a{
    font-weight: bold;
    text-decoration: underline;
}


/* || Modal */
.modais {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000080;
    display: none;
    z-index: 2;
}

.modal {
    background-color: var(--color-03);
    width: 80%;
    max-width: 60rem;
    margin: auto;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: var(--border-radius);
    text-align: center;
    position: relative;
    display: none;
}
.modal-boolean {
    background-color: var(--color-03);
    width: 80%;
    max-width: 60rem;
    margin: auto;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: var(--border-radius);
    text-align: center;
    position: relative;
    display: none;
}

/* .fechar-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    cursor: pointer;
} */

  /* Estilo extra para o botão de abrir o modal */
.abrir-modal {
    margin-top: 20px;
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.modal-boolean p{
    color: var(--color-01);
    font-weight: bold;
    margin-bottom: 1rem;
}



/* || Ajustes da tabela */
.tabela-links{
    overflow: auto;
}
thead{
    font-weight: bold;
}
table{
    min-width: 30rem;
    font-size: 1.5rem;
    overflow: auto;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
th{
    text-align: justify;
    background-color: var(--color-05);
    min-width: 6rem;
}
th, td{
    text-align: justify;
    white-space: nowrap;
    border-bottom: .1rem solid #7f7f7f46 ;
    padding: .8rem .5rem;
}
td{
    max-width: 15rem;
    text-overflow: ellipsis; /*adiciona os três pontos para indicar que há mais conteúdo oculto*/
    overflow: hidden;
    white-space: nowrap;
}
tr:nth-child(2n){
    background-color: #33333314;
}
td:nth-child(4){
    display: flex;
    justify-content: space-around;
}