/* || Tela ajustes */
.ajustes{
    background-color: var(--color-03);
    width: 80rem;
    height: fit-content;
    margin: 0 auto;
    border-radius: var(--border-radius);
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    color: var(--color-01);
}
h2{
    align-self: center;
    text-align: center;
    font-size: x-large;
    color: var(--color-01)
}
.ajustes div{
    width: 100%;
    text-align: center;
}
.dominio{
    margin-top: 1rem;
}
.ajustes div a{
    font-weight: bold;
    text-decoration: underline;
}

/* || Ajustes Modal */
.modais {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000080;
    display: none;
    z-index: 2;
}
.modal {
    background-color: var(--color-03);
    width: 80%;
    max-width: 60rem;
    margin: auto;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: var(--border-radius);
    text-align: center;
    position: relative;
    display: none;
}
.modal-boolean {
    background-color: var(--color-03);
    width: 80%;
    max-width: 60rem;
    margin: auto;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: var(--border-radius);
    text-align: center;
    position: relative;
    display: none;
}
.fechar-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .5rem .5rem;
    cursor: pointer;
}
.modal-boolean p{
    color: var(--color-01);
    font-weight: bold;
    margin-bottom: 1rem;
}
.modal p{
    color: var(--color-01);
    font-weight: bold;
    margin-bottom: 1rem;
}

/* || Form do modal */
form{
    display: flex;
    flex-direction: column;
    color: var(--color-01);
    margin-top: 2rem;
    font-weight: bold;
}
form input{
    height: 3rem;
    border: solid 0.2rem var(--color-04);
    border-radius: var(--border-radius);
    padding: 0 2rem;
}
form label{
    text-align: left;
    margin-bottom: .5rem;
}
#path{
    background-color: var(--color-02);
    width: 30%;
}
#url-original{
    background-color: var(--color-02);
    width: auto;
}
.salvar-edit{
    margin-top: 2rem;
}

/* || Ajustes da tabela */
.tabela-links{
    overflow: auto;
}
thead{
    font-weight: bold;
}
table{
    min-width: 30rem;
    font-size: 1.5rem;
    overflow: auto;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
th{
    text-align: justify;
    background-color: var(--color-05);
    min-width: 6rem;
}
th, td{
    white-space: nowrap;
    border-bottom: .1rem solid #7f7f7f46 ;
    padding: .8rem .5rem;
}
td{
    max-width: 15rem;
    text-overflow: ellipsis; /*adiciona os três pontos para indicar que há mais conteúdo oculto*/
    overflow: hidden;
    white-space: nowrap;
}
tr:nth-child(2n){
    background-color: #33333314;
}
td:nth-child(4){
    display: flex;
    justify-content: space-around;
}

/* || Ajustes das mensagens */
.msg{
    border-radius: var(--border-radius);
    background-color: var(--color-ok);
    color: var(--color-text-ok);
    font-weight: bold;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 50px 5px #70ef797b;
}
.msg-erro{
    background-color: var(--color-err);
    color: var(--color-02);
    box-shadow: 0px 0px 50px 5px #ef70857b;
}
