/* || Padrao dos botoes */
.btn{
    height: 4rem;
    background-color: var(--color-04);
    border-radius: var(--border-radius);
    padding: 0 0.5rem;
    min-width: 8.6rem;
    transition: all .2s ease-in-out;
    cursor: pointer;
    color: #000;
}
.btn:hover{
    border-bottom: .5rem solid var(--color-01);
    transition: all .2s ease-in-out;
}
.btn:active{
    border-bottom: .5rem solid var(--color-05);
    transition: all .1s ease-in-out;
}
.btn-encurtar{
    align-self: center;
    width: 30%;
    position: relative;
}

/* || Icones dos botoes */
.btn-encurtar-link{
    text-align: center;
}
.icon-conf{
    width: 2rem;
    display: inline-block;
    vertical-align: middle;
}

/* || Imagens de compartilhamento */
.icon-rede{
    width: 4rem;
    cursor: pointer;
}
.btn-rede{
    height: 4rem;
}
.edit-icon, .delete-icon{
    cursor: pointer;
}

/* || background-color dos inputs */
.alerta{
    background-color: var(--color-err);
}
.okay{
    background-color: var(--color-ok);
}