/* || DarkMode Sistem */
@media (prefers-color-scheme: dark) {

    /* || Tela inicial */
    body{
        background-color: var(--color-dark03);
        transition: all 0.5s ease;
    }
    .container {
        background-color: var(--color-dark02);
        color: var(--color-dark01);
        border: .1rem solid var(--color-05);
        transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
    }
    h1{
        color: var(--color-dark01);
        transition: color 0.5s ease;
    }
    .encurtar{ /* input */
        background-color: var(--color-dark03);
        color: var(--color-dark01);
    }
    .compartilhamento{
        background-color: var(--color-dark03);
        transition: all 0.5s ease;
    }
    .link-retornado{
        background-color: var(--color-dark03);
        color: var(--color-dark01);
        transition: all 0.5s ease;
    }
    .compartilhar-qr{
        background-color: var(--color-dark03);
        transition: all 0.5s ease;
    }
    .whats-num{
        background-color: var(--color-dark03);
        color: var(--color-dark01);
    }

    /* || Tela ajustes */
    .ajustes{
        background-color: var(--color-dark02);
        color: var(--color-dark01);
        border: .1rem solid var(--color-05);
        transition: all 0.5s ease;
    }
    h2{
        color: var(--color-dark01);
        transition: color 0.5s ease;
    }
    tr:nth-child(2n){
        background-color: #c1c1c114;
        transition: all 0.5s ease;
    }
    /* || Modal */
    .modal {
        background-color: var(--color-dark02);
    }
    .modal-boolean{
        background-color: var(--color-dark02);
    }
    .modal-boolean p{
        color: var(--color-dark01);
    }
    .modal p{
        color: var(--color-dark01);
    }
    form label{
        color: var(--color-dark01);
    }
    form input{
        color: var(--color-dark01);
    }
    .path{
        background-color: var(--color-dark03);
    }
    .url-original{
        background-color: var(--color-dark03);
    }

    /* Botoes */
    .btn{
        color: var(--color-dark01);
    }

    /* || background-color dos inputs */
    .alerta{
        background-color: var(--color-err);
    }
}