/* || DarkMode Sistem */
@media (prefers-color-scheme: dark) {

    /* || Tela inicial */
    body{
        background-color: var(--color-dark03);
        transition: all 0.5s ease;
    }
    .container {
        background-color: var(--color-dark02);
        color: var(--color-dark01);
        border: .1rem solid var(--color-05);
        transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
    }
    h1{
        color: var(--color-dark01);
        transition: color 0.5s ease;
    }
    .encurtar{ /* input */
        background-color: var(--color-dark03);
        color: var(--color-dark01);
        transition: all 0.5s ease;
    }
    .compartilhamento{
        background-color: var(--color-dark03);
        transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .link-retornado{
        background-color: var(--color-dark03);
        color: var(--color-dark01);
        transition: all 0.5s ease;
    }
    .compartilhar-qr, .qr-code{
        background-color: var(--color-dark03);
        transition: all 0.5s ease;
    }
    .whats-num{
        background-color: var(--color-dark03);
        color: var(--color-dark01);
        transition: all 0.5s ease;
    }
    .conf, .chave{ /* icone ajustes */
        background-color: var(--color-05);
        border-radius: 50%;
        border: 2px solid transparent;
    }

    /* || Modal api-key */
    .modal-boolean-key {
        background-color: var(--color-dark02);
        transition: all 0.5s ease;
    }
    input.api-key{
        background-color: var(--color-dark03);
        transition: all 0.5s ease;
    }
    
    /* || Tela ajustes */
    .ajustes{
        background-color: var(--color-dark02);
        color: var(--color-dark01);
        border: .1rem solid var(--color-05);
        transition: all 0.5s ease;
    }
    h2{
        color: var(--color-dark01);
        transition: color 0.5s ease;
    }
    tr:nth-child(2n){
        background-color: #c1c1c114;
        transition: all 0.5s ease;
    }

    /* || Modal */
    .modal {
        background-color: var(--color-dark02);
        transition: all 0.5s ease;
    }
    .modal-boolean{
        background-color: var(--color-dark02);
        transition: all 0.5s ease;
    }
    .modal-boolean p{
        color: var(--color-dark01);
        transition: all 0.5s ease;
    }
    .modal p{
        color: var(--color-dark01);
        transition: all 0.5s ease;
    }
    form label{
        color: var(--color-dark01);
        transition: all 0.5s ease;
    }
    form input{
        color: var(--color-dark01);
        transition: all 0.5s ease;
    }
    .path, .titulo, .url-original{
        background-color: var(--color-dark03);
        transition: all 0.5s ease;
    }

    /* Botoes */
    .btn{
        color: var(--color-dark01);
        transition: all 0.5s ease;
    }

    /* || background-color dos inputs */
    .alerta{
        background-color: var(--color-err);
    }
}