/* || Media query */

@media screen and (max-width:  810px){ 
    .container, .ajustes, body{
        font-size: calc(.5rem + 1vh);
        width: 100%;
    }
}
@media screen and (max-width:  490px){
    h1{
        display: none;
    }
    .btn-interacao{
        justify-content: center;
    }
    .campo-url{
        gap: 1rem;
        justify-content: center;
    }
    .link-retornado{ /*Link encurtado retornado no div*/
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        padding: 1rem 0 1rem 0;
        overflow: auto;
    }
    .container{
        gap: 6rem;
    }
    .compartilha-whats{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
    .path, .titulo{
        width: 100%;
    }
}