:root{
    --color-01: #564e33;
    --color-02: #f6f3da;
    --color-03: #ece7c9;
    --color-04: #9a8035;
    --color-05: #9c8e54;

    --border-radius: 8px;
}
*{
    outline: 1px solid rgba(255, 0, 0, 0.334);
}
body{
    background-color: var(--color-01);
    position: relative;
}
.hide {
    display: none;
}
.container{
    background-color: #ece7c9;
    width: 80rem;
    height: fit-content;
    margin: 0 auto;
    border-radius: var(--border-radius);
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.conf{
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
    z-index: 1;
}
h1{
    align-self: center;
    text-align: center;
    font-size: xx-large;
    color: var(--color-01)
}
.logo{
    width: 6rem;
    align-self: center;
    border-radius: var(--border-radius);
    cursor: pointer;
}
/* || Container dos botao + url */
.campo-url{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 4rem;
    gap: .5rem;
}
/* input */
.encurtar{
    height: 4rem;
    border: solid 0.2rem var(--color-04);
    border-radius: var(--border-radius);
    padding: 0 2rem;
    flex-grow: 8;
}
footer{
    position: fixed;
    font-size: 1rem;
    bottom: 1%;
    width: 100%;
    text-align: center;
    color: var(--color-04);
}

/* || Primeiro retorno */
.link-retornado{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    background-color: #f6f3da;
    border-radius: var(--border-radius);
    padding: 3rem 0 1.5rem 0;
    color: #564e33;
}
.link-retornado a{
    font-weight: bold;
    text-decoration: underline;
}

/* || Container dos 3 btns */
.btn-interacao{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
