:root{
    --color-01: #564e33;
    --color-02: #f6f3da;
    --color-03: #ece7c9;
    --color-04: #9a8035;
    --color-05: #9c8e54;

    /* Escuro */
    --color-dark01: #dcd3bd;
    --color-dark02: #3e3b2c;
    --color-dark03: #26241a;
    /* --color-dark04: #82764d; */
    /* --color-dark05: #7d7251; */

    --color-ok: #a7e882d4;
    --color-err: #d76343d4;
    --color-text-ok: #06720b;

    --border-radius: 8px;
}
*{
    outline: 1px solid rgba(255, 0, 0, 0.334);
}
/* Efeito */
.animate__fadeIn {
    animation-duration: 1s;
}
body{
    background-color: var(--color-01);
}
.hide {
    display: none;
}
.container{
    background-color: var(--color-03);
    width: 80rem;
    height: fit-content;
    margin: 0 auto;
    border-radius: var(--border-radius);
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    color: var(--color-01);
}
.conf{
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
    z-index: 1;
}
h1{
    align-self: center;
    text-align: center;
    font-size: xx-large;
    color: var(--color-01)
}
.logo{
    width: 6rem;
    align-self: center;
    border-radius: var(--border-radius);
    cursor: pointer;
}
/* || Container dos botao + url */
.campo-url{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 4rem;
    gap: .5rem;
}
/* input */
.encurtar{
    height: 4rem;
    border: solid 0.2rem var(--color-04);
    border-radius: var(--border-radius);
    padding: 0 2rem;
    flex-grow: 8;
    font-size: 1.8rem;
    background-color: var(--color-02);
}
footer{
    position: fixed;
    font-size: 1rem;
    bottom: 1%;
    width: 100%;
    text-align: center;
    color: var(--color-04);
}

/* || Primeiro retorno */
.link-retornado{ /*Link encurtado retornado no div*/
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    background-color: #f6f3da;
    border-radius: var(--border-radius);
    padding: 3rem 0 1.5rem 0;
    color: #564e33;
}
.link-retornado a{
    font-weight: bold;
    text-decoration: underline;
    font-size: 2.5rem;
}

/* || Container dos 3 btns */
.btn-interacao{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* align-items: center; */
    gap: 1rem;
}
.btn-interacao button{
    text-align: center;
    display: flex;
    align-items: center;}

/* || Redes de compartilhamento */
.compartilhamento{ /*Rede sociais*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: #f6f3da;
    border-radius: var(--border-radius);
    padding: 3rem 0 1.5rem 0;
}
.compartilha-whats{
    display: flex;
    gap: .5rem;
}
.whats-num{
    height: 4rem;
    border: solid 0.2rem var(--color-04);
    border-radius: var(--border-radius);
    padding: 0 2rem;
    flex-grow: 8;
    font-size: 1.8rem;
    background-color: var(--color-02);
}

/* || Tratamento img QR Code */
.compartilhar-qr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: #f6f3da;
    border-radius: var(--border-radius);
}
.compartilhar-qr a{
    margin-top: 1.5rem;
    font-weight: bold;
}
.compartilhar-qr img{
    width: 26rem;
}

/* || Mensagens de feedback */
#msg-inicio{
    position: fixed;
    padding: 1rem 2rem;
    /* top: 10rem; */
    font-size: 1.8rem;
}